{% extends "feedBackBase.html" %}
{% load static %}

{% block title %}
    <h3>
        <img src="{% static 'images/note.jpg' %}" style="width:50px" />
        Feedback List
    </h3>
{% endblock title %}

{% block content %}
    <p>
        <a href="https://naver.com">+ Create New</a>
    </p>

    <table class="table">
        <tr><th>Id</th><th>Name</th><th>Email</th><th>Phone</th></tr>
        {% for item in feedbacks %}
            <tr>
                <td>
                    <a href="https://naver.com">{{ item.id }}</a>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
