{% extends "feedBackBase.html" %}
{% load static %}

{% block title %}
    <h3>
        <img src="{% static 'images/note.jpg' %}" style="width:50px" />
        Ship List
    </h3>
{% endblock title %}

{% block content %}
    <p>
        <a href="https://naver.com">+ Create New</a>
    </p>

    <table class="table">
        <tr>
          <th>Project No</th>
          <th>Version</th>
          <th>Builder</th>
          <th>Length</th>
        </tr>
        {% for ship in ship_input %}
            <tr>
                <td>
                    <a href="https://naver.com">{{ ship.purpose_of_proj }}</a>
                </td>
                <td>{{ ship.version }}</td>
                <td>{{ ship.builder }}</td>
                <td>{{ ship.ship_size }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
